@font-face {
    font-family: 'Barlow';
    src: url('../scss/fonts/barlow/Barlow-Regular.ttf');
    font-display: auto;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bellefair';
    src: url('../scss/fonts/bellefair/Bellefair-Regular.ttf');
    font-display: auto;
    font-weight: 400;
    font-style: normal;
}