$black: #0b0d17;
$grey: #d0d6f9;
$white: #fff;
$bg-color-defaul: #0b0d17;

// ---------->>>>>>>>> Typography <<<<<<<-------------------- //
// 
$font-size-h1: 9.4rem;
$font-size-h2: 6.25rem;
$font-sizw-h3: 3.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.75rem;
$font-size-subheading: 1.75rem;
$font-size-nav: 1rem;
$font-size-default: 1.125rem;
$font-family-default: 'Bellefair', sans-serif ;
$font-family-secondary: 'Barlow', sans-serif;

// ---------->>>>>>>>> Typography <<<<<<<-------------------- //