@media (min-width: 768px) {
  body {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0b0d17;
  }

  .dots {
    top: 28%;
  }
  .container {
    max-width: 28.6rem;
    height: 100%;
    
    .crew {
      width: calc(28.6rem * 4);
      &__item {
        grid-template-rows: 250px 532px;
        grid-template-areas:
          "main"
          "img";
        max-width: 28.6rem;
      }
      &__img {
        border: none;
        width: 456px;
        height: 532px;
      }

      .member-info {
        grid-area: main;

        h3 {
          padding-top: 0;
          font-size: 1.5rem;
        }
        h1 {
          font-size: 2.5rem;
          line-height: 1.1;
          padding-bottom: 1rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
        }
      }
    }
  }
}
